/**/archive/
/**/charts/
/**/manifests/
/**/tmpcharts*/

# macOS-specific files
.DS_Store

# ide
.vscode/
infrastructure.code-workspace

# OpenTofu / Terraform
.terraform/
.terraform-plugin-cache/
*.tfstate
*.tfstate.*
