/**/archive/
/**/charts/
/**/manifests/
/**/tmpcharts*/

# macOS-specific files
.DS_Store

# IDE
.vscode/
infrastructure.code-workspace

# Ruff
.ruff_cache/

# OpenTofu / Terraform
.terraform/
.terraform-plugin-cache/
*.tfstate
*.tfstate.*
