# Disable SC1091 (not following sourced helpers)
disable=SC1091
# Disable SC2129 (style: consider { cmd1; cmd2; } >> file)
disable=SC2129
# Disable SC2016 (expressions don't expand in single quotes)
disable=SC2016
